.MessagesWindow {
    overflow-y: scroll; /*for scroll*/
    height: 530px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid white;
}

.FormSend {
    border: 1px solid white;
    height: 100px;
}